# Ignore bin and obj directories
[Bb]in/
[Oo]bj/

# Ignore .idea folder (JetBrains Rider)
.idea/

# Ignore Visual Studio user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Ignore test results
[Tt]est[Rr]esult*/

# Ignore package files
*.nupkg

# Ignore node_modules (if using Node.js)
node_modules/

# Ignore publish directory
publish/

# Ignore .vs directory
.vs/

# Ignore logs
[Ll]ogs/

# Ignore Rider specific files
*.sln.iml
